.user-mood{
  width: 50vh;
}
.user-input{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    gap: 1rem;
}
.title{
  font-family: cursive;
  font-weight: bold;
  font-size: larger;
}
body{
  background-image: url("D:\workSpace\myLearnings\MoodTracker\moodtracker\public\BGImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.flex-box{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}
.mood {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.mood.happy {
  background-color: yellow;
  color: black;
}

.mood.sad {
  background-color: blue;
}

.mood.neutral {
  background-color: green;
}
.mood.angry {
  background-color: red
}

.mood-entry {
  margin-top: 20px;
}

.mood-entry select, .mood-entry button {
  margin: 5px;
}